.container {
    width: 100%;
    height: 100vh;
    background: #505050;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .brand {
        background: #202020;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 30px;
            color: #FFF;
        }

        .logo {
            width: 150px;
            user-select: none;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px;
        }
    }


    .content{
        width: 100%;
        height: 100%;
        padding: 50px;
        box-sizing: border-box;

        ul{
            box-sizing: border-box;
            padding: 30px;
        }
    }


    .dateTime {
        text-transform: uppercase;
        font-size: 1.2rem;

        color: #FFF;
        text-align: center;
    }


}