.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    
    img {
        width: 150px;
        height: 150px;
        box-sizing: border-box;
    }

    button {
        position: absolute;
        border: none;
        outline: none;
        background: rgb(0, 60, 128);
        width: 48px;
        height: 48px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color .3s;

        svg {
            color: #FFF;
            font-size: 1.5rem;
        }

        &:hover {
            background: rgb(0, 120, 255);
        }
    }

    p {
        padding: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}