.container {
    color: #202020;
    border: 1px solid #202020;
    padding: 15px;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    list-style: none;
    width: 350px;

    li {
        width: 100%;
        margin: 5px;
    }
}